
a {
    font-family: 'Emilys Candy';
    font-size: 18px;
}

.bgserviceParallex {
    background-image: url("612547.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80%;
}

.bgx {
    background-image: url("mountains.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40%;
}

.bgx1 {
    background-image: url("wix2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40%;
}

.bgx2 {
    background-image: url("wix2.jpg");
    background-color: rgba(0, 0, 0, 0.377);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40%;
}



.navbarContact {
    background-color: black;
    padding: 10px;
    font-size: 15px;
    font-family: 'Emilys Candy';
    overflow: hidden;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;
}

.navbarContact a {
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    color: azure;
}

.navbarContact a:hover {
    color: snow;
    background-color: rgba(251, 255, 0, 0.61);
}

.navbarContact a.active {
    background-color: rgb(92, 4, 63);
    color: snow;
}

.navbarContact1 {
    background-color: rgba(49, 47, 47, 0.705);
    padding: 15px;
    font-size: 15px;
    font-family: 'Emilys Candy';
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0px;
    width: 100%;
    display: block;
}

.navbarContact1 a {
    text-decoration: none;
    padding: 15px;
    color: azure;
}

.navbarContact1 a:hover {
    color: snow;
    background-color: rgba(251, 255, 0, 0.61);
}

.navbarContact1 a.active {
    background-color: rgb(92, 4, 63);
    color: snow;
}

#bghoverbars:hover {
    float: none;
    background-color: rgb(92, 4, 63);
    color: snow;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(92, 4, 63);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Jura';
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e6dfdf;
    display: block;
    font-family: 'Jura';
    transition: 0.3s;
}

.sidenav a:hover {
    color: #0f0c0c;
    font-size: 30px;
    font-family: 'Faster One';
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    #navbar {
        top: -100px;
    }
    #xsasra {
        float: right;
    }
}

@media only screen and (max-width:768px) {
    #xsasra {
        float: right;
    }
    #navbar {
        top: -100px;
    }
}

.footerStyle {
    background-color: black;
    text-align: center;
    color: azure;
    padding: 20px;
    font-size: 15px;
    font-family: 'Jura';
}

.whereStyle {
    background-color: rgba(0, 0, 0, 0.377);
    text-align: center;
    color: azure;
    padding: 20px;
    font-size: 25px;
    font-family: 'Jura';
}

.contentservice {
    color: rgb(104, 28, 28);
    font-size: 12vw;
    padding: 10px;
    text-align: center;
    font-family: 'Kumar One';
}

.bgcontent {
    background-image: url("bgabout.png");
}

/*paneland sides*/

.link {
    border: 1px solid black;
    background-image: url("bg2nd.jpg");
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 20px;
}

.link a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
}

.link a:hover {
    color: navy;
}

.link a.active {
    color: teal;
}

.disp {
    display: none;
}

@media only screen and (max-width:992px) {
    .link a {
        display: inline-block;
        text-align: center;
        padding: 10px;
        margin-left: 50px;
    }
}

@media only screen and (max-width:678px) {
    .link a {
        display: inline-block;
        text-align: center;
        padding: 10px;
        margin-left: 50px;
    }
}

.margin10pxtop {
    margin-top: 20px;
}

.margin10pxtopmap {
    margin: 20px 0px;
}

.footerservice1 {
    background-color: rgba(0, 0, 0, 0.377);
    color: azure;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Anonymous Pro';
    padding: 5px;
    text-align: center;
}

.sizecoloricon {
    font-size: 20px;
    color: rgb(126, 222, 247);
}
